extends ../../layout/documentation

block content
  h3 Getting started
  h4 Free environment
  p As soon as you register your account you will have a channel on our free Proof of Concept message server. Your username, password and channel are available on your Dashboard.
  p It's important to remember that our free message server does not guarantee availability nor any throughput volumes. It's a shared server and there will be other producers and consumers using it.
  h4 A simple producer
  h4 A simple consumer