extends ../../layout/documentation

block content
  div.content
    h3 Messaging
    p A publisher encodes application data and sends it as a message.
    p A subscriber receives, decodes and processes a message. A subscriber can process a message synchronously or asynchronously.
    h4 Synchonous processing
    h4 Asynchonous processing