extends ./layout/layout

block content
  section.section
    .container
      //- .columns
      //-   .column.is-offset-one-quarter
      //-     h4.is-size-4.has-text-info Documentation
      .columns
        .column.is-one-quarter#doc-menu(style="overflow-y: auto;")
          aside.menu
            p.menu-label Introduction
            ul.menu-list
              li
                a.tta-doc-menu-item(href="#overview") Overview
              li
                a.tta-doc-menu-item(href="#getting-started") Getting started
                ul.menu-list
                  li
                    a.tta-doc-menu-item(href="#getting-started_free-environment") Free environment
                  li
                    a.tta-doc-menu-item(href="#getting-started_add-message-server") Add a message server
                  li
                    a.tta-doc-menu-item(href="#getting-started_simple-producer") A simple producer
                  li
                    a.tta-doc-menu-item(href="#getting-started_simple-consumer") A simple consumer
            p.menu-label Server types
            ul.menu-list
              li
                a.tta-doc-menu-item(href="#server-types_message-server") Message server
              li
                a.tta-doc-menu-item(href="#server-types_queue-server") Queue server
        .column.content.is-half
          h4.is-size-4.has-text-info Introduction
          h4.is-size-4#overview Overview
          p CorvoMQ allows you to loosely couple heterogeneous systems together. There is no tight relationship between message producers and message consumers. The producers and consumers are independent and know nothing of each other. The ability to increase and decrease producers and consumers enables you to easily scale your systems to cope with changes in workload.
          h4.is-size-4#getting-started Getting started
          p Getting started.
          h5.is-size-5#getting-started_free-environment Your free environment
          p Free environment.
          h5.is-size-5#getting-started_add-message-server Add a message server
          p Add a message server.
          h5.is-size-5#getting-started_simple-producer Add a simple producer
          p Add a simple producer.
          h5.is-size-5#getting-started_simple-consumer Add a simple consumer
          p Add a simple consumer.
          h4.is-size-4.has-text-info Server types
          h4.is-size-4#overview Overview
  script.
    docMenu = document.querySelector('#doc-menu');
    console.log(docMenu.offsetHeight);
    docMenu.style.height = docMenu.offsetHeight - 10;

    nodes = document.querySelectorAll('a.tta-doc-menu-item');
    
    [].forEach.call(nodes, function(node) {
      node.addEventListener('click', function(event) {
        [].forEach.call(nodes, function(node) {
          node.classList.remove('is-active');
        })
        event.srcElement.classList.add('is-active');
      })
    });